{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/cards?_method=PUT" method="POST">
        <fieldset>
            <legend>Create New Card</legend>
            <label class="form-label">Title: </label>
            <input 
                type="text" 
                name="title" 
                placeholder="{{ card.title }}"
                value="{{ card.title }}"
                class="form-control"
            >
            <label class="form-label">Body:</label>
            <input 
                type="text" 
                name="body" 
                placeholder="{{ card.body }}" 
                value="{{ card.body }}" 
                class="form-control"
            >
            <label class="form-label">Amount:</label>
            <input 
                type="number" 
                name="amount"
                value="{{ card.amount }}"
                class="form-control"
            >
            <label class="form-label">Ready:</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
                {% if card.ready %}
                    checked
                {% endif %}
            >
        </fieldset>
        <input type="submit" value="Edit Card" class="btn btn-success">
    </form>
</div>
{% endblock %}