{% layout 'layout.liquid'%}
{% block content %}
<div>
    <div class="container-lg bg-white mx-auto shadow">
        <h2 class="display-5 fw-bold ms-2 mt-3 text-black pt-2 mb-0">{{ type }} Cards</h2>
        <div class="row mx-auto">
            {% for card in cards %}
            <div class="card col-sm-2 d-flex justify-content-center py-2 border-0" >
                <p class="mb-0 text-center fw-semibold">{{card.name}}</p>
                <div class="card-body p-0">
                    <a href="/cards/{{ card.id }}">
                        <img src="{{ card.imgSrc }}" alt="{{card.name}} card" width="150" class="card-img h-100 w-100 border border-3 border-success">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

