{% layout 'layout.liquid'%}
{% block content %}
    <div class="container-lg bg-white mx-auto shadow">
        <div class="container-lg d-flex mt-3">
            <h2 class="fs-2 fw-bold ms-2 mt-3 text-black pt-2 mb-0 col-6">{{ type }} Cards</h2>
            <div class="container-lg d-flex justify-content-end mt-3 me-0 pe-0 h-50 col-6">
            <form class="d-flex" action="/search" method="GET">
                <input class="form-control me-2 rounded-0" type="text" placeholder="search..." name="name">
                <button class="btn btn-success py-0 px-2 rounded-0 fw-semibold" type="submit">Search</button>
            </form>
        </div>
        </div>
        <hr class="border border-success border-1">
        <div class="row mx-auto pb-3">
            {% for card in cards %}
            <div class="card col-sm-2 d-flex justify-content-center pt-2 border-0" >
                <p class="mb-0 text-center fw-semibold">{{card.name}}</p>
                <div class="card-body p-0">
                    <a href="/cards/{{ card.id }}">
                        <img src="{{ card.imgSrc }}" alt="{{card.name}} card" width="150" class="card-img h-100 w-100 border border-3 border-success">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

