{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Cards</h2>
    <div class="row">
        {% for card in cards %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ card.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    {{ card.type[0] }}
                </h5>
                <p class="card-text">
                    {{ card.rarity }} {{ card.type[1] }} Points: {{ card.points }}
                </p>
                <p class="card-text">
                    {{ card.effect }}
                </p>
                <a href="/cards/{{ card.id }}" class="btn btn-info">
                    View {{ card.name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

