{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md mt-5">
    <div class="row">
        <div class="col-md-8 bg-light border">
            <h2 class="mb-2 fw-bold pt-2">{{ card.name }}</h2>
            <div class="row">
                <div class="col-md border">
                    <p class="fw-bold mb-0">{{ card.rarity }} {{ card.type[1] }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md border">
                    <p class="fw-bold mb-0">{{ card.type[0] }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border">
                    <p class="fw-bold mb-0">Points:</p>
                </div>
                <div class="col-md-9 border">
                    <p class="mb-0">{{ card.points }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border">
                    <p class="fw-bold mb-0">Cost:</p>
                </div>
                <div class="col-md-9 border">
                    <p class="mb-0">{{ card.cost }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border">
                    <p class="fw-bold mb-0">Destination:</p>
                </div>
                <div class="col-md-9 border">
                    {% if card.destination %}
                        <p class="mb-0">Yes</p>
                    {% else %}
                        <p class="mb-0">No</p>
                    {% endif %}
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3 border">
                    <p class="fw-bold mb-0">Occupancy:</p>
                </div>
                <div class="col-md-9 border">
                    {% if card.occupancy %}
                    <p class="mb-0">{{ card.occupancy }}</p>
                    {% else %}
                    <p class="mb-0">N/A</p>
                    {% endif %}
                </div>
            </div>
            <div class="row pt-2 border">
                <div class="col">
                    <h4 class="mb-0 fw-bold">Effect:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <p class="mb-0">{{ card.effect }}</p>
                </div>
            </div>
            {% if card.quote %}
                <div class="row pt-2 border">
                    <div class="col">
                        <h4 class="mb-0 fw-bold">Quote:</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col border">
                        <p class="mb-0 fst-italic">"{{ card.quote }}"</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <img src="{{ card.imgSrc }}" alt="architect card" width="255" height="360" class="border border-3">
        </div>
    </div>
    
    {% if card.owner == userId %}
        <div class="btn-group">
            <a href="/cards/{{ card.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/cards/{{ card.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
</div>
{% if loggedIn %}
            <div class="col-md-6">
                <form action="/comments/card/{{card.id}}" method="POST">
                    <fieldset>
                        <legend>New Comment</legend>
                        <label class="form-label">Comment:</label>
                        <input type="text" name="note" class="form-control mb-1">
                    </fieldset>
                    <input type="submit" class="btn btn-success" value="Add Comment">
                </form>
            </div>
        {% else %}
            <div class="col-md-6">
                <small>If you'd like to leave a comment, please log in...</small>
            </div>
        {% endif %}
        <hr>
        {% if card.comments.length > 0 %}
            <div class="container-sm justify-content-center">
                {% for comm in card.comments %}
                    {% render './comment.liquid', comm: comm, userId: userId, card: card %}
                {% endfor %}
            </div>
        {% else %}
            <small>No comments yet...</small>
        {% endif %}
{% endblock %}

name: { type: String, required: true },
		rarity: { type: String, required: true },
        type: { type: Array, required: true },
		points: { type: Number, required: true },
		cost: { type: String, required: true },
		pairedWith: { type: String, required: true },
		effect: { type: String, required: true },
		quote: { type: String },
		destination: { type: Boolean },
		occupancy: { type: Number },
		owner: {
			type: Schema.Types.ObjectID,
			ref: 'User',
		}