{% layout 'layout.liquid' %}
{% block content %}
<div class="container-lg mt-2">
    <div class="row ms-2 me-2">
        <div class="col-md-8 bg-light border shadow mt-2">
            <h2 class="mb-2 fw-bold pt-2">{{ card.name }}</h2>
            <div class="row">
                <div class="col-md border">
                    <div><a class="fw-bold mb-0 text-decoration-none link-success" href="{%if card.type[0] == 'Common'%}/cards/Common{% elsif card.type[0] == 'Unique' %}/cards/Unique{% endif %}">{{ card.type[0] }}</a> <a class="fw-bold mb-0 text-decoration-none link-success" href="{%if card.type[1] == 'Critter'%}/cards/Critter{% elsif card.type[1] == 'Construction' %}/cards/Construction{% endif %}">{{ card.type[1] }}</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md border">
                    <a href="{% if card.type[2] == 'Tan Traveler'%}/cards/Tan%20Traveler{% elsif card.type[2] == 'Green Production'%}/cards/Green%20Production{% elsif card.type[2] == 'Red Destination'%}/cards/Red%20Destination{% elsif card.type[2] == 'Blue Governance'%}/cards/Blue%20Governance{% elsif card.type[2] == 'Purple Prosperity'%}/cards/Purple%20Prosperity{% endif %}" class="fw-bold mb-0 text-decoration-none link-success">{{ card.type[2] }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border">
                    <p class="fw-bold mb-0">Paired With:</p>
                </div>
                <div class="col-md-9 border">
                    <a class="fw-bold mb-0 text-decoration-none link-success" href="/search?name={{card.pairedWith}}">{{ card.pairedWith }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border">
                    <p class="fw-bold mb-0">Points:</p>
                </div>
                <div class="col-md-9 border">
                    <p class="mb-0">{{ card.points }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border">
                    <p class="fw-bold mb-0">Cost:</p>
                </div>
                <div class="col-md-9 border">
                    <p class="mb-0">{{ card.cost }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 border">
                    <p class="fw-bold mb-0">Destination:</p>
                </div>
                <div class="col-md-9 border">
                    {% if card.destination %}
                        <p class="mb-0">Yes</p>
                    {% else %}
                        <p class="mb-0">No</p>
                    {% endif %}
                </div>
            </div>
            <div class="row ">
                <div class="col-md-3 border">
                    <p class="fw-bold mb-0">Occupancy:</p>
                </div>
                <div class="col-md-9 border">
                    {% if card.occupancy %}
                    <p class="mb-0">{{ card.occupancy }}</p>
                    {% else %}
                    <p class="mb-0">N/A</p>
                    {% endif %}
                </div>
            </div>
            <div class="row pt-1 border pb-1">
                <div class="col">
                    <h4 class="mb-0 fw-bold">Effect:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <p class="mb-0">{{ card.effect }}</p>
                </div>
            </div>
            {% if card.quote %}
                <div class="row pt-1 border pb-1">
                    <div class="col">
                        <h4 class="mb-0 fw-bold">Quote:</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col border">
                        <p class="mb-0 fst-italic">"{{ card.quote }}"</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center mt-2">
            <img src="{{ card.imgSrc }}" alt="{{ card.name }} card" width="255" height="360" class="border border-3 border-success">
        </div>
    </div>
    
    {% if card.owner == userId %}
        <div class="btn-group mt-2">
            <a href="/cards/{{ card.id }}/edit" class="btn btn-success rounded-0 mb-3 fw-bold shadow me-2">Edit</a>
            <form action="/cards/{{ card.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger rounded-0 shadow fw-bold">
            </form>
        </div>
        {% endif %}
</div>
{% if loggedIn %}
    <div class="container-md bg-white mt-5 shadow">
        <h2 class="mb-2 fw-bold pt-3">Comments</h2>
        <hr class="border border-success border-1">
        {% if card.comments.length > 0 %}
        <div class="container-md justify-content-center">
            {% for comm in card.comments %}
                {% render './comment.liquid', comm: comm, userId: userId, card: card %}
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted fw-semibold pt-2">No comments yet...</p>
    {% endif %}
        <form action="/comments/card/{{card.id}}" class="mt-3" method="POST">
        <fieldset>
            <textarea class="form-control rounded-0" name="note" placeholder="add new comment..."></textarea>
        </fieldset>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
            <input type="submit" class="btn btn-success rounded-0 mb-3 fw-bold shadow" value="Add Comment">
        </div>
                </form>
    </div>
    {% else %}
        <div class="container-md mt-0">
            <small class="fw-semibold text-muted fst-italic">If you'd like to leave a comment, please log in...</small>
        </div>
    {% endif %}
    
{% endblock %}

name: { type: String, required: true },
		rarity: { type: String, required: true },
        type: { type: Array, required: true },
		points: { type: Number, required: true },
		cost: { type: String, required: true },
		pairedWith: { type: String, required: true },
		effect: { type: String, required: true },
		quote: { type: String },
		destination: { type: Boolean },
		occupancy: { type: Number },
		owner: {
			type: Schema.Types.ObjectID,
			ref: 'User',
		}