{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ card.title }} -
            {% if card.ready %}
            Ready
            {% else %}
            Not Ready
            {%endif%}
        </h2>
        <h3>Amount: {{ card.amount }}</h3>
        <h6>Body: {{ card.body }}</h6>
        {% if card.owner == userId %}
        <div class="btn-group">

            <a href="/cards/{{ card.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/cards/{{ card.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}